<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>{{ pageInfo.title }}</h1>
    <p>{{ pageInfo.message }}</p>
    <a href="/about">About us</a>

    <div class="container">
        <ul class="list-group">
            {% for item in pageInfo.itemList %}
                <li class="list-group-item">{{ item }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>